DISCORD_TOKEN: ~
gitDiscordMapping:
  <GitHub ID here>: <Discord ID here>
targetChannelID: <Channel/Thread ID here>
trelloMapping:
  <Trello ID here>: 
    - <Trello APIKey here>
    - <Trello Token here>
trelloWatchListID: <Trello To-Watch List ID here>
trelloMoveFromListID: <Trello Move-From List ID here>
trelloMoveToListID: <Trello Move-To List ID here>
mainUserAPIKey: <Trello Main User's APIKey here>
mainUserToken: <Trello Main User's Token here>
mainUserToken: <Trello Main User's Token here>